<div class="section game-intro">
	<h1 class="game-intro__heading heading heading--3"><%= heading %></h1>
	<div class="game-intro__image-wrapper">
		<img class="game-intro__image" src="<%= thumbnail %>" alt="">
	</div>
	<div class="game-intro__background" style="background-image:url(<%= background %>)"></div>
</div>