<div class="section">
	<h1 class="heading heading--1">Styleguide</h1>
</div>

<div class="section">
	<h2 class="heading heading--2">Thumbnail</h2>
</div>

<div class="thumbnail">
	<div class="thumbnail__inner" style="background-image:url(http://cf.geekdo-images.com/images/pic2211846_t.png)">
		<img class="thumbnail__image" src="http://cf.geekdo-images.com/images/pic2211846_t.png" alt="">
	</div>
</div>

<div class="section">
	<h2 class="heading heading--2">Game list</h2>
</div>

<div class="section">
	<ul class="game-list">
		<li>
			<a href="/" class="game-list__item">
				<h3 class="game-list__heading heading--3">The Golden Ages</h3>
				<div class="game-list__thumb  thumbnail">
					<div class="thumbnail__inner" style="background-image:url(http://cf.geekdo-images.com/images/pic2211846_t.png)">
						<img class="thumbnail__image" src="http://cf.geekdo-images.com/images/pic2211846_t.png" alt="">
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>

<div class="section">
	<h2 class="heading heading--2">Game gallery</h2>
</div>

<div class="section">
	<ul class="game-gallery">
		<% for (var i = 0; i < 10; i++) { %>
		<li class="game-gallery__item">
			<a href="/" class="game-gallery__game">
				<h3 class="game-gallery__heading heading--4">The Golden Ages</h3>
				<div class="game-gallery__thumb  thumbnail">
					<div class="thumbnail__inner" style="background-image:url(http://cf.geekdo-images.com/images/pic2211846_t.png)">
						<img class="thumbnail__image" src="http://cf.geekdo-images.com/images/pic2211846_t.png" alt="">
					</div>
				</div>
			</a>
		</li>
		<% } %>
	</ul>
</div>

<%- partial('partials/game-intro.ejs', {
	heading: 'The Golden Ages',
	background: 'http://cf.geekdo-images.com/images/pic2211846_t.png',
	thumbnail: 'http://cf.geekdo-images.com/images/pic2211846_t.png'
}) %>