.game-intro {
	position: relative;
	overflow: hidden;
	padding: 24px 20px;
	color: rgba(255, 255, 255, 0.85);
	background-color: @black;
	text-align: center;
}

.game-intro > * {
	position: relative;
	z-index: 20;
}

.game-intro__heading {
	color:#fff;
}

.game-intro__designers {
	position: relative;
	margin: 12px 0 24px;
	padding:12px 0 0;
	font:300 italic 16px/24px "expo-serif-pro", georgia, serif;
}

.game-intro__designers > a {
	border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

/* 1. Trick to avoid LESS calulating the values during compile */
.game-intro__designers:before {
	content:"";
	position: absolute;
	top: 0;
	left: calc(50% ~"-" 20px); /* 1 */
	width: 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-resolution: 192dpi) {
	.game-intro__designers:before {
		border-bottom-width: 0.5px;
	}
}

.game-intro__image-wrapper {
	display: inline-block;
	overflow: hidden;
	border-radius: 3px;
	background-size: cover;
	background-position: 50%;
}

.game-intro__image-wrapper:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-resolution: 192dpi) {
.game-intro__image-wrapper:after {
		border-width: 0.5px;
	}
}


.game-intro__image {
	display: block;
	max-width: 200px;
	max-height: 200px;
}

.game-intro__background {
	@blur:20px;
	position: absolute;
	top: -@blur;
	right: -@blur;
	left: -@blur;
	z-index: 10;
	max-height: 80%;
	height: 250px;
	opacity: 0.3;
	background: 50%/cover no-repeat;
	-webkit-filter: blur(@blur);
	        filter: blur(@blur);
}

.game-intro__description {
	margin-top: 24px;
	text-align: left;
}

@media only screen and (min-width: 700px) {
	.game-intro__image {
		max-width: 400px;
		max-height: 400px;
	}

	.game-intro__background {
		height: 500px;
	}
}